.env
data/json/api-output
*__pycache__
.venv
data/json/api-output
app/old-json
*api-output
app/wikipedia/html
app/wikipedia/parsed
workspace_draft/data/google_json/google_clean_01
workspace_draft/data/google_json/json-unclean
workspace_draft/data/raw-html
workspace_draft/data/raw-txt
workspace_draft/spacy_and_parsing/database
train.spacy
dev.spacy
output
output*
final_product/training/unclean_data/google_html
final_product/training/unclean_data/json_drafts
dev_3*
train_3*
final_product/training/clean_data/product_json
*old.py
project/training/product_json
project/training/unclean_data